.fondo{
  
  height:500px;
  position:relative;
  background:url("fondo2.jpg") no-repeat center top;
  background-size:cover;
  overflow:hidden;
  background-attachment:fixed;
  background-position:center;
  padding-top:260px;
  
}

.login-box{
  
  text-align:center;
  width:520px;
  height:520px;
  background:transparent;
  color:#fff;
  top:50%;
  left:50%;
  position:absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 70px 30px;
}

.login-box .avatar{
  
  width:150px;
  height:150px;
  border-radius:30%;
  position:absolute;
  top:-60px;
  left:calc(45% - 45px);
  
}

.login-box h1{
  
  margin:0;
  padding:20px 0 30px;
  text-align:center;
  font-size:42px;
  
}

.login-box label{
  
  text-align:center;
  font-size:25px;
  margin:0;
  padding:0;
  font-weight:bold;
  display:block;
  
}

.login-box input{
  
  font-size:25px;
  border-radius:40px;
  margin-bottom:20px;
  
}

.login-box input[type="text"],input[type="password"]{
  
  width:100%;
  text-align:center;
  border:none;
  border-bottom:1px solid #7FFFD4;
  background: transparent;
  outline:none;
  height:40px;
  color:#7FFFD4;
  
}

.login-box input[type="submit"]{
  
  width:100%;
  outline:none;
  height:50px;
  background:#008080;
  color:#fff;
  font-size:25px;
  border-radius:40px;

}


.login-box input[type="submit"]:hover{
  
  background:black;
  color:cyan;
}

.login-box a{
  
  line-height:30px;
  font-size:18px;
  text-decoration:none;
  font-size:'open sans';
  color:darkblue;
  
}

.login-box a:hover{
  
  color:#fff;
  
}